<div class="row" >
   <div class="col-md-6 text-center" >
     <h1><%= @ingressos.count() %></h1>
   </div>

   <div class="col-md-6 text-center" >
         <form>
           <div class="form-group ">
             <input type="text" class="form-control input-lg" id="inputSuccess2Status" placeholder="Codigo" aria-describedby="inputSuccess2Status" maxlength="6" >

             <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>

           </div>
   </div>
</div>
