.ingresso {
  background-image: asset-data-url('vep.png');
  background-repeat: no-repeat;
  width: 2000px;
  height: 900px;
  margin-bottom: 10px;
  border: 5px 5px 5px 5px;
  border-width: 15px;
  border-style: solid;
  border-color: black;
}
.texto {
  color:red;
  margin-left: 1200px;
  margin-top: 420px;
  font-size: 600%;
}
.code {
  color:black;
  margin-top: 40px;
  margin-left: 1200px;
  font-size: 600%;
}
.codebar {
  margin-top: 450px;
  float:right;
}
.date {
  margin-top: 10px;
  margin-left: 1125px;
  font-size: 300%;
  color: black;
}
.page-break { display:block; clear:both; page-break-after:always; }
